h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: 1;
  margin-inline: 0;
  margin-block: 1em 1rem;
}

%text,
.text {
  font-size: 0.9375rem;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

%text-dark,
.text-dark {
  font-size: 0.9375rem;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}