:root {
    --body: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans","Helvetica Neue",sans-serif;
    --heading: "Söhne Dreiviertelfett", sans-serif;

    --text-color: hsl(98, 0%, 0%);
    --background: #ffffff;

    --color-dark: rgb(64, 64, 64);
    --color-light: rgb(243, 243, 243);

    --color-primary: 181.5, 83.2%; //#14D5DE Neon Blue
    --color-secondary: 320.9, 100%; //#ff00a6 Neon Pink
    --l: 46.7%;

    --highlight: hsl(var(--color-secondary),var(--l)); //Pink
    --border: hsl(var(--color-primary),var(--l)); //Pink
    --hover: hsl(var(--color-primary),calc(var(--l) - 10%));
    --focus: hsl(var(--color-primary),var(--l));
    --visited: hsl(var(--color-primary),var(--l));

    //Spacing
    --space-xs: clamp(0.75rem, 0.69rem + 0.29vw, 0.9375rem);
    --space-s: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
    --space-m: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
    --space-l: clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
    --space-xl: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
    --space-2xl: clamp(4rem, 3.69rem + 1.55vw, 5rem);
    --space-3xl: clamp(6rem, 5.53rem + 2.33vw, 7.5rem);

    --space-xs-s: clamp(0.75rem, 0.59rem + 0.78vw, 1.25rem);
    --space-s-m: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
    --space-m-l: clamp(1.5rem, 1.19rem + 1.55vw, 2.5rem);
    --space-l-xl: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
    --space-l-2xl: clamp(2rem, 1.07rem + 4.66vw, 5rem);
    --space-xl-2xl: clamp(3rem, 2.38rem + 3.11vw, 5rem);
    --space-2xl-3xl: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);

    //Typpography
    --font-size-sm: clamp(0.8rem, 0.16vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.92rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.6vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 0.99vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.53vw + 2.17rem, 5rem);

    --letter-spacing-base: 1rem * 0.02;
    --letter-spacing-small: 0.0125em;

    --line-height-small: 1.2;
    --line-height-base: 1.5;

    --word-spacing-base: 1rem * 0.04;

    //Other
    --border-radius: 0.5rem;
    --containerWidth: 70rem; //1120px
}