---
permalink: /aid/aid1.html
---


{% css %}
.frames {
  overflow-x: scroll;
  display: flex;
  gap: 4ch;
}
.frame {
  max-width: 400px;
}
.frame .frame__image {

}
.frame .frame__content {
  font-size: 12px;
  color: #000000;
}
.frame .frame__content span {
  color: #FF0033;
  display: inline-block;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}

<div class="frames p-2">
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/no1.jpg" width="216" height="126" border="1">
    <p class="frame__content">
      <span>1.</span> 
      click on bullseye
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/no1b.jpg" width="216" height="127" border="1">
    <p class="frame__content">
      <span>2.</span> 
      click on <b>bullseye</b> again
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/no1c.jpg" width="144" height="155">
    <p class="frame__content">
      <span>3.</span> 
      click on <b>bullseye</b> again
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/no1d.jpg" width="216" height="129" border="1">
    <p class="frame__content">
      <span>4.</span> 
      click on <b>bullseye</b> again
    </p>
  </div>
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/no2a.jpg" width="216" height="127" border="1">
    <p class="frame__content">
      <span>5.</span> 
      click on <b>bullseye</b> again
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}