---
permalink: /aid/aid2.html
---

{% css %}
.frames {
  overflow-x: scroll;
  display: flex;
  gap: 4ch;
}
.frame {
  max-width: 400px;
}
.frame .frame__image {

}
.frame .frame__content {
  font-size: 12px;
  color: #000000;
}
.frame .frame__content span {
  color: #FF0033;
  display: inline-block;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="frames p-2">
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/no2c.jpg" width="252" height="150" border="1">
  <p class="frame__content">
    <span>6.</span> 
    click on <b>o</b> circle level one (is active)
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21.jpg" width="216" height="127" border="1">
  <p class="frame__content">
    <span>7.</span> 
    click on <b>o</b> circle, (she died alone)
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop1.jpg" width="216" height="136" border="1">
  <p class="frame__content">
    <span>8.</span> 
    Middlesex Times Dispatch article/obituary on Roberta Sparrow.
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop.jpg" width="216" height="132" border="1">
  <p class="frame__content">
    <span>8a.</span> 
    If you click on any other part of the Times website - archives, yellow pages, maps, etc - leads to a File Not Found page. Click on webmaster.
  </p>
</div>
<div class="frame">
  <img class="frame__image mb-2" src="/images/aid/l21pop2.jpg" width="216" height="132" border="1">
  <p class="frame__content">
    <span>9</span> 
      (close popup #8 window) <b>click</b> on second <font size="3"><b><font color="#CC0033">o</font></b></font> 
      circle, (let no one know i gave you this). Leads to another popup - Middlesex 
      Times Dispatch article/obituary on Dr. Kenneth Monnitoff</font><font size="2" face="Arial">. 
      (close window)....... <a href="aid3.html">go to next section</a></font>
  </p>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}