---
permalink: /aid/aid9.html
---

{% css %}
.frames {
  overflow-x: scroll;
  display: flex;
  gap: 4ch;
}
.frame {
  max-width: 400px;
}
.frame .frame__image {

}
.frame .frame__content {
  font-size: 12px;
  color: #000000;
}
.frame .frame__content span {
  color: #FF0033;
  display: inline-block;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="frames p-2">
  <div class="frame">
    <img class="frame__image mb-2" src="/images/aid/lev2h.jpg" width="216" height="128" border="1">
    <p class="frame__content">
      <span>37.</span> 
      At main menu - click on <b><font size="3" color="#FF0000">o</font></b> level three. The password for Level three is the name of the street he lives in... like the flower. Password = <font color="#6600FF">rose</font>.
    </p>
  </div>
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3b.jpg" width="216" height="126" border="1">
    <p class="frame__content">
      <span>41.</span> 
      <font size="2" face="Arial" color="#FF0033">click</font> on the telephone symbol inside the chandelier popup. faa info appears - <font size="2" face="Arial" color="#FF0033">click</font> on "launch the document" at the bottom. <font color="#CC3300">(if this doesn't work/doesn't show up, reload the page.)</font>
    </p>
  </div>
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3d.jpg" width="216" height="126" border="1">
    <p class="frame__content">
      <span>42.</span> 
      <font size="2" face="Arial">engine phone conversation/ transcript.</font><font face="Arial" size="2"> after this the screen automatically changes to...</font>
    </p>
  </div>
  <div class="frame">
    <img class="frame__image" src="/images/aid/level3e.jpg" width="216" height="127" border="1">
    <p class="frame__content">
      <span>43.</span> 
      <font size="2" face="Arial" color="#FF0033">time is up, donnie. /// fin. kaput. done. the end.</font> (<font size="1">...is that all there is, is that all there is... if that's all there is my friends, then let's keep dancing. let's break out the...</font> - that is to say i think that's all there is.)
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}