---
permalink: /are/you/sleep/golfing/missing/3.html
---

{% set isAlpine = true %}

{% block styles %}
<link rel="stylesheet" href="{{ "/" | url }}css/98.css" /> 
{% endblock %}

{% css %}

html body {
    background-color: #000000;
    color: #000000;
}
.scene-fear-love {
    aspect-ratio: 800 / 500;
    background-image: url("/images/missing/animation-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.scene-1 {
    font-size: 120%;
    position: absolute;
    left: 10rem;
    bottom: 8rem;
    max-width: 70%;
    font-weight: bold;
    line-height: 1.2;
}
.scene-1 p {
    font-size: inherit;
}
.scene-2 {
    color: white;
    position: absolute;
    left: 6rem;
    bottom: 0;
    max-width: 70%;
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.scene-2 pre {
    padding: 0;
}
.scene-3 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.grid .col {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid .col.has-bunny {
    width: 118px;
    height: 133px;
}
.grid .col.has-bunny {
    
}
.grid .col.animate {
    background-image: url("/images/missing/assets/window.jpg");
    background-size: cover;
}
.grid .col {
    position: relative;
}
.grid .col span {
    margin-block-start: 10px;
    font-weight: bold;
    font-size: 90px;
    opacity: 0.7;
    color: #560600;
    display: none;
}
.grid .col.has-modal {
    justify-content: flex-start;
    padding-inline-start: 1rem;
}
.grid .col.has-modal:hover {
    cursor: pointer;
}
.grid .col.has-modal:hover span {
    opacity: 0;
}
.iframe-modal  {
    max-width: 730px !important;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="flex items-end h-full">
    <div class="aspect-ratio">
        <div class="scene-fear-love">
            <div class="scene-1" id="scene-1" style="display: block;">
                well, life isn't that simple. I mean - who cares if Ling Ling returns the<br>
                wallet and keeps the money? It has nothing to do with either fear or<br> 
                love. there are other things that need to be taken into account here,<br> 
                like... the whole spectrum of human emotion.<br> 
                you can't just lump everything into these two categories and then just deny everything else ...<br>
            </div>
            <div class="scene-2" id="scene-2" style="display: none;">
                <pre>
                \\
                /@c                                  
               \$                             \\/@c
              .++:+*                       /B$7000g3           
             @@@.-.#+                   ~ Хдо  . VC    
             035:/                     03g$g0
             :%.-:=:#+              .:-%%#*#:               
              ==* +#+++              .+%@%%#*#:           
              :+%-.*%#++*+        -*% #%+:=:*.          
                .+=.*%@*=%# .=+%%%%=** +%+=.          
                 +%:.#@@-=%+-%%%%%=-*--%@*-           
                 .@- *%%*:%%%%%%%%*.-.*%%=            
                 .%: -%%=-%%%%%%%%#.= +%+             
                   :@%*.. *%%%%%%+.+--%%#             
                    @@*+-..+#%%#+. +.:#%@:            
                   =%*:  *+=+  *#- : =#%@#-           
             gUC^• /v^. .://^^-^g8U30GBB0/
              VU&G: ^32000BBG **ХХХС33 /8$0
             #++++#%. :+=##%%%##=..   .:+@#           
            ==+***%%:.+*%@*%%+::.  :   .:%@=          
            +=*+##%@##%@%%%#@%#++**#=::-++@@.         
           ++++++#%@@@%*--+*#%*. .=%%%*-.#@%          
          =*=*##*#%@@@@@@@@@@@@@@@@%#*#+. -%*         
           .+**=+*%@@@@@@@@@@@@@@@@*#*#*-:-%=          
             .++*@@@@@@@@@@@@@@@@@@@@%*#*#%%:         
            .+#%*++*%@@@@@@@@@@@@@@@%#*   @*-        
          -+*%*=..:-+***%%@@@@@@@%%#+-     *-+=:     
        -*+:....::-++:==**###%##**#         #=::---.    
     :==-==-:-+++*+#%#+***+*%@@@#*-        +=====:   
    .++*#%%%+=#%%@@@@@%@%%%%%#*+-         ..:=+#%#**: 
    +=*#@@@@#+#@@@@@@@@@%%@@%%      .:.:=#@#%%+
    </pre>
    </div>
    <div id="scene-3" class="scene-3" style="display: none;">
        <div class="grid">
            <div class="col has-bunny"><span>W</span></div>
            <div class="col has-bunny"><span>A</span></div>
            <div class="col"></div>
            <div class="col has-bunny"><span>K</span></div>
            <div class="col has-bunny"><span>E</span></div>
            <div class="col"></div>

            <div class="col has-bunny"><span>U</span></div>
            <div class="col"></div>
            <div class="col has-bunny"><span>P</span></div>
            <div class="col has-bunny"><span>D</span></div>
            <div class="col"></div>
            <div class="col has-bunny"><span>O</span></div>

            <div class="col has-bunny"><span>N</span></div>
            <div class="col has-bunny"><span>N</span></div>
            <div class="col"></div>
            <div class="col has-bunny"><span>I</span></div>
            <div class="col has-bunny has-modal" x-on:click="open = true">
                <div x-data="{ open: false }" class="flex justify-center">

                    <span x-on:click="open = true">E</span>
                
                    <!-- Modal -->
                    <div
                        x-dialog
                        x-model="open"
                        style="display: none"
                        class="fixed inset-0 overflow-y-auto z-10"
                    >
                        <!-- Overlay -->
                        <div x-dialog:overlay x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>
                  
                        <!-- Panel -->
                        <div class="relative min-h-screen flex items-center justify-center p-4">
                            <div
                                x-dialog:panel
                                x-transition
                                class="iframe-modal window relative max-w-xl w-full bg-white shadow-lg overflow-y-auto"
                            >
                                <div class="title-bar">
                                  <div class="title-bar-text"></div>
                                  <div class="title-bar-controls">
                                      <button aria-label="Close" id="close"></button>
                                    </div>
                                </div>
                  
                                <!-- Body -->
                                <div class="p-1">
                                  <iframe src="/news/newspaper5.htm" width="100%" height="800px" frameborder="0" scrolling="yes"></iframe>
                                </div>
                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            </div>
    </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    const cells = document.querySelectorAll('.col');
    const text = document.getElementById('scene-1');
    const words = text.innerHTML.split(' ');
    text.innerHTML = '';

    const numTimeouts = words.length;
    let timeoutsFinished = 0;

    for (let i = 0; i < words.length; i++) {
        setTimeout(() => {
            text.innerHTML += words[i] + ' ';
            timeoutsFinished++;
            if (timeoutsFinished === numTimeouts) {
                const event = new CustomEvent('timeoutsCompleted');
                document.dispatchEvent(event);
            }
            if (i === words.length - 1) {
                setTimeout(() => {
                    document.getElementById('scene-2').style.display = 'block';
                    setTimeout(() => {
                        document.getElementById('scene-1').style.display = 'none';
                        document.getElementById('scene-2').style.display = 'none';
                        setTimeout(() => {
                            const event = new CustomEvent('scene2Completed');
                            document.dispatchEvent(event);
                        }, 1000);
                    }, 1000);
                }, 1000);
            }
        }, i * 10);
    }

    document.addEventListener('scene2Completed', () => {

        console.log('Scene 2 completed');

        document.getElementById('scene-3').style.display = 'flex';

        const cells = document.querySelectorAll('.col');
        const order = [0, 1, 8, 9, 13, 12, 6, 3, 4, 11, 15, 16];
        const orderSorted = order.sort((a, b) => a - b);

        for (let i = 0; i < order.length; i++) {
            setTimeout(() => {
                cells[order[i]].classList.add('animate');
                if (i === order.length - 1) {
                    const event = new CustomEvent('animationCompleted');
                    document.dispatchEvent(event);
                }
            }, i * 200);
        }

        document.addEventListener('animationCompleted', () => {
            for (let i = 0; i < orderSorted.length; i++) {
                setTimeout(() => {
                    cells[orderSorted[i]].querySelector('span').style.display = 'block';
                }, i * 100);
            }
        });

        cells.forEach(cell => {
            cell.addEventListener('click', () => {
            const url = cell.getAttribute('data-url');
            //Open modal
            if (url) {
                
            }
            });
        });

    });

    //When the modal is closed via #close move onto /sparkle/motion/index.html
    document.getElementById('close').addEventListener('click', () => {
        window.location.href = '/sparkle/motion/index.html';
    });

</script>
{% endblock %}