---
permalink: /are/you/sleep/golfing/missing/6.html
---

{% block styles %}
<link rel="stylesheet" href="{{ "/" | url }}css/98.css" /> 
{% endblock %}

{% css %}
html body {
    background-color: #000000;
    color: white;
}
.aspect-ratio {
    position: relative;
}
.crosshair {
    position: absolute;
    right: 30%;
    bottom: 20%;
    font-size: 1.4rem;
}
.crosshair:hover {
    cursor: pointer;
    filter: url(#noise);
}
.window {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 20%;
    bottom: 10%;
    display: none;
}
.window img {
    width: 100%;
    height: calc(100% - 22px);
    object-fit: cover;
}
.interlace:hover {
    cursor: pointer;
    filter: url(#noise);
    animation: .3s linear forwards noise infinite;
}
{% endcss %}

{% extends "layouts/base.html" %}

{% block content %}
<div class="flex items-end h-full">
    <div class="aspect-ratio">
        <img src="/images/missing/sleepgolfing-bg-3.jpg">
        <span id="popup" class="crosshair">⌖</span>
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text px-1">Microsoft Explorer</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>    
                </div>
              </div>
              <div class="interlace" data-url="/are/you/sleep/golfing/missing/7.html">
                <img src="/images/missing/sleepgolfing-wallet.jpg">
              </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
//If click on #popup then show .window
document.getElementById('popup').addEventListener('click', event => {
    document.querySelector('.window').style.display = 'block';
})
//If click on .interlace then go to data-url
document.querySelectorAll('.interlace').forEach(item => {
    item.addEventListener('click', event => {
        window.location.href = item.dataset.url;
    })
})
</script>
{% endblock %}